*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

**/experiments/*/results/
**/experiments/*/images/
laa_wifi_indoor_default*

.settings/
waf_eclipse.bat
.3gpp_ref_number_of_users.py.kate-swp
.autotools
.directory
.metadata/
.~lock.DlRxPhyStats.txt#
.~lock.DlRxPhyStats_2.txt#
3gpp_ref_number_of_users.py

